@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

body {
    background-image: url('resources/background.png');
    background-size: cover;
    overflow: hidden;
}

div.app {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 60%;
}

div.number {
    display: flex;
    justify-content: center;
    width: 100%;;
}

p {
    font-size: 12vh;
    font-family: Nunito,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 2px;
    -webkit-text-fill-color: white  ;
    -webkit-text-stroke-color: rgb(29, 47, 69);
}


div.character {
    aspect-ratio: 224/294;
}

div.nacho-open {
    background-image: url('resources/nacho-open.png');
    background-size: cover;
}

div.nacho-close {
    background-image: url('resources/nacho-close.png');
    background-size: cover;
}